.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FAF8F1;
}

.main {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #333;
}
