@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-btn {
  background-color: #008236 !important;
  border-color: #008236 !important;
  color: #fff !important;
}

.custom-btn:hover {
  background-color: #006f29 !important;
  border-color: #006f29 !important;
}

.custom-btn:active {
  background-color: #004d1f !important;
  border-color: #004d1f !important;
}