.button {
  background-color: #58B65C;
  color: #fff;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4CA950;
}
